[postgres2@pg101 ~]$ cat ~/wzo28/pg_hba.conf
# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             all                                     peer
host    all             all             0.0.0.0/0               password
host    all             all             ::/0                    password
[postgres2@pg101 ~]$